@{
    ViewBag.Title = "Carlos Ceballos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Urbanización Cecilio Acosta<br />
    Sector El Paso, Los Teques Miranda<br />
    <abbr title="Telefono">Telefono:</abbr>
    04141017715
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:carceb@hotmail.com">Carlos Ceballos</a><br />
</address>